/* You can add global styles to this file, and also import other style files */
.footer{
    position: absolute;
    width: 100%;
    bottom: auto;
    background-color: blue;
    text-align: center;
    color: white;
    
}


